@model IEnumerable<EntityLayer.Concrete.Comment>
@*@if (Model.Count() == 0) bu da bir seçenek*@
@*@Html.Raw(Model.Count() == 0 ? "<p class='lead'>Bu Bloga Henüz Yorum Yapılmadı. İlk Yorumu Siz Yapmak İster misiniz ?</p>" : "açıklar mısın7")   bu da bir seçenek*@

@if (Model == null || !Model.Any())
{
    <h3>Önceden hiç yorum yapılmadı,ilk yorum yapan siz olun :)</h3>

}
else
{
<div class="comment-top">
    <h4>Yorumlar</h4>
    @foreach (var item in Model)
    {
        <div class="media">
            <img src="~/web/images/t1.jpg" alt="" class="img-fluid" />
            <div class="media-body">
                <h5 class="mt-0">@item.CommentUserName</h5>
                <p>
                    @item.CommentContent
                </p>
            </div>
        </div>
    }
</div>
}


